.wrapper__contact {
  display: flex;
  justify-content: flex-start;
  @include media-laptop {
    flex-direction: row;
    height: 324px;
  }
  @include media-tablet {
    flex-direction: column;
    height: 397px;
  }
  @include media-mobile {
    flex-direction: column;
    height: 411px;
  }
  gap: 24px;
}

.contact {
  background-color: $color_white;
  @include media-laptop {
    padding-top: 160px;
  }
  @include media-tablet {
    padding-top: 160px;
  }
  @include media-mobile {
    padding-top: 120px;
  }

  &__title {
    @include media-laptop {
      width: 508px;
      font-size: 4.8rem;
      line-height: 48px;
    }
    @include media-tablet {
      width: 508px;
      font-size: 4.8rem;
      line-height: 48px;
    }
    @include media-mobile {
      width: 327px;
      font-size: 3.6rem;
      line-height: 36px;
    }
    font-family: Gilroy-Bold;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    @include media-laptop {
      width: 508px;
      padding-top: 13px;
      gap: 36px;
    }
    @include media-tablet {
      width: 508px;
      padding-top: 13px;
      gap: 36px;
    }
    @include media-mobile {
      width: 327px;
      padding-top: 0px;
      column-gap: 66px;
      row-gap: 23px;
    }
  }
  
  &__text {
    line-height: 22.4px;
    padding-top: 16px;
    a {
      white-space: nowrap;
      color: #000;
    }

    &-laptop {
      @include media-laptop {
        display: block;
      }
      @include media-tablet {
        display: block;
      }
      @include media-mobile {
        display: none;
      }  
    }

    &-mobile {
      @include media-laptop {
        display: none;
      }
      @include media-tablet {
        display: none;
      }
      @include media-mobile {
        display: block;
      }        
    }

  }

  &__mail {
    font-size: 1.8rem;
  }

  &__text-24 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 33.6px;
  }
}