body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin: 0px;
}

.wrapper {
  margin: auto;
  @include media-laptop {
    max-width: 1040px;
  }
  @include media-tablet {
    max-width: 696px;
  }
  @include media-mobile {
    max-width: 327px;
  }
  &__header {
    background-color: $color_black;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-radius: 48px;

  &__arrow {
    padding-right: 17px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
  }

  &__text {
    font-weight: 600;
    padding-left: 18px;
    white-space: nowrap;
  }
}

.nowrap {
  white-space: nowrap;
}