$color_green: #E3FD52;
$color_black: #111111;
$color_white: #FFFFFF;

$content-width: 1060px;
$tablet-content-width: 1059px;
$mobile-content-width: 743px;

@mixin media-laptop {
  @media (min-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-content-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-content-width) { @content; }
}