.wrapper__way {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media-laptop {
    height: 626px;
  }
  @include media-tablet {
    height: 625px;
  }
  @include media-mobile {
    height: 547px;
  }
}

.way {
  background: $color_black;
  backdrop-filter: blur(12px);

  &__line {
    @include media-laptop {
      width: 1040px;
    }
    @include media-tablet {
      width: 696px;
    }
    @include media-mobile {
      width: 327px;
    }
    height: 0px;
    opacity: 0.2;
    border: 1px solid $color_white;
  }

  &__title {
    @include media-laptop {
      padding-top: 120px;
      width: 696px;
      font-size: 8.4rem;
      line-height: 79px;
      white-space: nowrap;
    }
    @include media-tablet {
      padding-top: 120px;
      width: 696px;
      font-size: 8.4rem;
      line-height: 79px;
      white-space: nowrap;
    }
    @include media-mobile {
      padding-top: 94px;
      width: 288px;
      font-size: 4.8rem;
      line-height: 45.12px;
      white-space: inherit;
    }
    font-family: Gilroy-Bold;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: $color_white;
    &-green {
      color: $color_green;
      white-space: nowrap;
    }
  }

  &__text {
    padding-top: 24px;
    color: $color_white;
    line-height: 22.1px;
    @include media-laptop {
      width: 508px;
    }
    @include media-tablet {
      width: 510px;
    }
    @include media-mobile {
      width: 327px;
    }
  }

  &__button {
    padding-top: 34px;
  }
}

.button__way {
  width: 149px;
  background: $color_green;
}

.button__way:hover {
  background: $color_black;
  color: $color_green;
  border: 1px solid $color_green;
}