@import 'normalize.css';
@font-face {
  font-family: "Strasua";
  src: url("../fonts/Strasua-V2.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff");
  font-style: normal;
  line-height: 22.4px;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff");
  font-style: normal;
  line-height: 22.4px;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sf-pro-display_regular.woff2");
  font-style: normal;
  font-weight: 400;
  line-height: 19.09px;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
input:hover,
input:focus {
  border: none;
  outline: none;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin: 0px;
}

.wrapper {
  margin: auto;
}
@media (min-width: 1060px) {
  .wrapper {
    max-width: 1040px;
  }
}
@media (max-width: 1059px) {
  .wrapper {
    max-width: 696px;
  }
}
@media (max-width: 743px) {
  .wrapper {
    max-width: 327px;
  }
}
.wrapper__header {
  background-color: #111111;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-radius: 48px;
}
.button__arrow {
  padding-right: 17px;
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
}
.button__text {
  font-weight: 600;
  padding-left: 18px;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

.header {
  background: #111111;
  backdrop-filter: blur(12px);
}
.header__logo {
  font-family: "Strasua";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: left;
}
.header__logo a {
  color: #E3FD52;
}
.header__menu-list {
  display: flex;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 16.8px;
}
@media (min-width: 1060px) {
  .header__menu-list {
    gap: 50px;
  }
}
@media (max-width: 1059px) {
  .header__menu-list {
    gap: 50px;
  }
}
@media (max-width: 743px) {
  .header__menu-list {
    gap: 34px;
  }
}
.header__menu-list a {
  color: #FFFFFF;
}
.header__menu-list a:hover {
  color: #E3FD52;
}

.wrapper__way {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 1060px) {
  .wrapper__way {
    height: 626px;
  }
}
@media (max-width: 1059px) {
  .wrapper__way {
    height: 625px;
  }
}
@media (max-width: 743px) {
  .wrapper__way {
    height: 547px;
  }
}

.way {
  background: #111111;
  backdrop-filter: blur(12px);
}
.way__line {
  height: 0px;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
}
@media (min-width: 1060px) {
  .way__line {
    width: 1040px;
  }
}
@media (max-width: 1059px) {
  .way__line {
    width: 696px;
  }
}
@media (max-width: 743px) {
  .way__line {
    width: 327px;
  }
}
.way__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}
@media (min-width: 1060px) {
  .way__title {
    padding-top: 120px;
    width: 696px;
    font-size: 8.4rem;
    line-height: 79px;
    white-space: nowrap;
  }
}
@media (max-width: 1059px) {
  .way__title {
    padding-top: 120px;
    width: 696px;
    font-size: 8.4rem;
    line-height: 79px;
    white-space: nowrap;
  }
}
@media (max-width: 743px) {
  .way__title {
    padding-top: 94px;
    width: 288px;
    font-size: 4.8rem;
    line-height: 45.12px;
    white-space: inherit;
  }
}
.way__title-green {
  color: #E3FD52;
  white-space: nowrap;
}
.way__text {
  padding-top: 24px;
  color: #FFFFFF;
  line-height: 22.1px;
}
@media (min-width: 1060px) {
  .way__text {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  .way__text {
    width: 510px;
  }
}
@media (max-width: 743px) {
  .way__text {
    width: 327px;
  }
}
.way__button {
  padding-top: 34px;
}

.button__way {
  width: 149px;
  background: #E3FD52;
}

.button__way:hover {
  background: #111111;
  color: #E3FD52;
  border: 1px solid #E3FD52;
}

.wrapper__experience {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
@media (min-width: 1060px) {
  .wrapper__experience {
    flex-direction: row;
    height: 196px;
  }
}
@media (max-width: 1059px) {
  .wrapper__experience {
    flex-direction: column;
    height: 392px;
  }
}
@media (max-width: 743px) {
  .wrapper__experience {
    flex-direction: column;
    height: 376px;
  }
}

.experience {
  background: #FFFFFF;
}
@media (min-width: 1060px) {
  .experience {
    padding-top: 120px;
  }
}
@media (max-width: 1059px) {
  .experience {
    padding-top: 120px;
  }
}
@media (max-width: 743px) {
  .experience {
    padding-top: 96px;
  }
}
.experience__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  text-align: left;
}
@media (min-width: 1060px) {
  .experience__title {
    width: 508px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 1059px) {
  .experience__title {
    width: 508px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 743px) {
  .experience__title {
    width: 327px;
    font-size: 3.6rem;
    line-height: 36px;
  }
}
.experience__text {
  line-height: 22px;
}
@media (min-width: 1060px) {
  .experience__text {
    width: 498px;
    padding-top: 14px;
  }
}
@media (max-width: 1059px) {
  .experience__text {
    width: 520px;
    padding-top: 1px;
  }
}
@media (max-width: 743px) {
  .experience__text {
    width: 327px;
    padding-top: 0px;
  }
}

.wrapper__apps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}
@media (min-width: 1060px) {
  .wrapper__apps {
    height: 794px;
  }
}
@media (max-width: 1059px) {
  .wrapper__apps {
    height: 739px;
  }
}
@media (max-width: 743px) {
  .wrapper__apps {
    height: 1406px;
  }
}

.slider__padding {
  margin-top: 30px;
}
@media (min-width: 1060px) {
  .slider__padding {
    padding-top: 63px !important;
    z-index: 1;
  }
}
@media (max-width: 1059px) {
  .slider__padding {
    padding-top: 1px !important;
    z-index: 1;
  }
}
@media (max-width: 743px) {
  .slider__padding {
    padding-top: 22px !important;
    z-index: -1 !important;
  }
}

.apps {
  background: #FFFFFF;
}
.apps__slider {
  display: flex;
}
@media (min-width: 1060px) {
  .apps__slider {
    flex-direction: row;
    gap: 24px;
  }
}
@media (max-width: 1059px) {
  .apps__slider {
    flex-direction: row;
    gap: 24px;
  }
}
@media (max-width: 743px) {
  .apps__slider {
    flex-direction: column;
    gap: 84px;
  }
}
.apps__slider-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -36px;
  column-gap: 24px;
}
@media (min-width: 1060px) {
  .apps__slider-item {
    width: 1040px;
    height: 508px;
  }
}
@media (max-width: 1059px) {
  .apps__slider-item {
    width: 1040px;
    height: 508px;
  }
}
@media (max-width: 743px) {
  .apps__slider-item {
    width: 327px;
    height: auto;
  }
}
@media (min-width: 1060px) {
  .apps__lower {
    margin-top: 28px;
  }
}
@media (max-width: 1059px) {
  .apps__lower {
    margin-top: 28px;
  }
}
@media (max-width: 743px) {
  .apps__lower {
    margin-top: -36px;
  }
}
.apps__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1060px) {
  .apps__item {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  .apps__item {
    width: 516px;
  }
}
@media (max-width: 743px) {
  .apps__item {
    width: 327px;
  }
}
.apps__item__screen {
  display: flex;
  background-color: #111111;
}
@media (min-width: 1060px) {
  .apps__item__screen {
    width: 508px;
    height: 286px;
  }
}
@media (max-width: 1059px) {
  .apps__item__screen {
    width: 516px;
    height: 291px;
  }
}
@media (max-width: 743px) {
  .apps__item__screen {
    width: 327px;
    height: 184px;
  }
}
.apps__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  text-align: left;
  padding-top: 24px;
}
@media (min-width: 1060px) {
  .apps__title {
    font-size: 3.2rem;
    line-height: 32px;
  }
}
@media (max-width: 1059px) {
  .apps__title {
    font-size: 3.2rem;
    line-height: 32px;
  }
}
@media (max-width: 743px) {
  .apps__title {
    font-size: 2.4rem;
    line-height: 24px;
  }
}
.apps__text {
  padding-top: 8px;
  line-height: 22px;
}
.apps__buttons {
  display: flex;
  gap: 24px;
}
@media (min-width: 1060px) {
  .apps__buttons {
    padding-top: 36px;
  }
}
@media (max-width: 1059px) {
  .apps__buttons {
    padding-top: 36px;
  }
}
@media (max-width: 743px) {
  .apps__buttons {
    padding-top: 24px;
  }
}

.button__apps {
  background: #FFFFFF;
  border: 1px solid #111111;
  z-index: 1;
}
@media (min-width: 1060px) {
  .button__apps {
    width: 162px;
  }
}
@media (max-width: 1059px) {
  .button__apps {
    width: 156px;
  }
}
@media (max-width: 743px) {
  .button__apps {
    width: 152px;
  }
}

.button__apps:hover {
  background: #E3FD52;
  color: #111111;
  border: 1px solid #E3FD52;
}

@media (min-width: 1060px) {
  #screen1 {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  #screen1 {
    width: 508px;
  }
}
@media (max-width: 743px) {
  #screen1 {
    width: 327px;
  }
}

@media (min-width: 1060px) {
  #screen2 {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  #screen2 {
    width: 508px;
  }
}
@media (max-width: 743px) {
  #screen2 {
    width: 327px;
  }
}

@media (min-width: 1060px) {
  #screen3 {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  #screen3 {
    width: 508px;
  }
}
@media (max-width: 743px) {
  #screen3 {
    width: 327px;
  }
}

.wrapper__offer {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 1060px) {
  .wrapper__offer {
    flex-direction: row;
    gap: 24px;
    height: 643px;
  }
}
@media (max-width: 1059px) {
  .wrapper__offer {
    flex-direction: row;
    gap: 24px;
    height: 740px;
  }
}
@media (max-width: 743px) {
  .wrapper__offer {
    flex-direction: column;
    gap: 49px;
    height: 896px;
  }
}

.offer {
  background: #FFFFFF;
}
.offer__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
@media (min-width: 1060px) {
  .offer__title {
    width: 508px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 1059px) {
  .offer__title {
    width: 336px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 743px) {
  .offer__title {
    width: 327px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1060px) {
  .offer__title-tablet {
    display: none;
  }
}
@media (max-width: 1059px) {
  .offer__title-tablet {
    display: block;
  }
}
@media (max-width: 743px) {
  .offer__title-tablet {
    display: none;
  }
}
@media (min-width: 1060px) {
  .offer__title-notablet {
    display: block;
  }
}
@media (max-width: 1059px) {
  .offer__title-notablet {
    display: none;
  }
}
@media (max-width: 743px) {
  .offer__title-notablet {
    display: block;
  }
}
@media (min-width: 1060px) {
  .offer__title-mobile {
    width: 508px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 1059px) {
  .offer__title-mobile {
    width: 336px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 743px) {
  .offer__title-mobile {
    width: 327px;
    font-size: 48px;
    line-height: 48px;
  }
}
.offer__text {
  padding-top: 23px;
  line-height: 22px;
}
@media (min-width: 1060px) {
  .offer__text {
    width: 498px;
  }
}
@media (max-width: 1059px) {
  .offer__text {
    width: 336px;
  }
}
@media (max-width: 743px) {
  .offer__text {
    width: 327px;
  }
}
.offer__text-20 {
  padding-top: 5px;
  padding-bottom: 35px;
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 1060px) {
  .offer__text-20 {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  .offer__text-20 {
    width: 330px;
  }
}
@media (max-width: 743px) {
  .offer__text-20 {
    width: 327px;
  }
}

.wrapper__world {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 1060px) {
  .wrapper__world {
    height: 971px;
  }
}
@media (max-width: 1059px) {
  .wrapper__world {
    height: 739px;
  }
}
@media (max-width: 743px) {
  .wrapper__world {
    height: 740px;
  }
}

.world {
  background: #111111;
  backdrop-filter: blur(12px);
  color: #FFFFFF;
}
.world__header {
  display: flex;
  gap: 24px;
}
@media (min-width: 1060px) {
  .world__header {
    padding-top: 121px;
    flex-direction: row;
  }
}
@media (max-width: 1059px) {
  .world__header {
    padding-top: 63px;
    flex-direction: row;
  }
}
@media (max-width: 743px) {
  .world__header {
    padding-top: 64px;
    flex-direction: column;
  }
}
.world__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  text-align: left;
}
@media (min-width: 1060px) {
  .world__title {
    width: 508px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 1059px) {
  .world__title {
    width: 336px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 743px) {
  .world__title {
    width: 327px;
    font-size: 3.6rem;
    line-height: 36px;
  }
}
@media (min-width: 1060px) {
  .world__title-higher {
    width: 327px;
    font-size: 4.8rem;
    line-height: 48px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 1059px) {
  .world__title-higher {
    width: 327px;
    font-size: 4.8rem;
    line-height: 48px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 743px) {
  .world__title-higher {
    width: 213px;
    font-size: 4.8rem;
    line-height: 48px;
    letter-spacing: 0.5px;
  }
}
@media (min-width: 1060px) {
  .world__title-laptop {
    display: block;
  }
}
@media (max-width: 1059px) {
  .world__title-laptop {
    display: none;
  }
}
@media (max-width: 743px) {
  .world__title-laptop {
    display: none;
  }
}
@media (min-width: 1060px) {
  .world__title-tablet {
    display: none;
  }
}
@media (max-width: 1059px) {
  .world__title-tablet {
    display: block;
  }
}
@media (max-width: 743px) {
  .world__title-tablet {
    display: none;
  }
}
@media (min-width: 1060px) {
  .world__title-mobile {
    display: none;
  }
}
@media (max-width: 1059px) {
  .world__title-mobile {
    display: none;
  }
}
@media (max-width: 743px) {
  .world__title-mobile {
    display: block;
  }
}
.world__text {
  line-height: 22px;
}
@media (min-width: 1060px) {
  .world__text {
    width: 508px;
    padding-top: 14px;
  }
}
@media (max-width: 1059px) {
  .world__text {
    width: 327px;
    padding-top: 14px;
  }
}
@media (max-width: 743px) {
  .world__text {
    width: 327px;
    padding-top: 0px;
  }
}
.world__stats {
  color: #E3FD52;
}
@media (min-width: 1060px) {
  .world__stats {
    display: block;
    padding-top: 304px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 1059px) {
  .world__stats {
    display: block;
    padding-top: 148px;
    padding-left: 0px;
    margin-left: -30px;
  }
}
@media (max-width: 743px) {
  .world__stats {
    display: flex;
    justify-content: flex-start;
    width: 327px;
    padding-top: 198px;
    padding-left: 10px;
    margin-left: 0px;
  }
}
.world__stats-item {
  width: 140px;
}
.world__text-20 {
  padding-top: 3px;
  padding-bottom: 36px;
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 1060px) {
  .world__text-20 {
    font-size: 2rem;
    line-height: 20px;
  }
}
@media (max-width: 1059px) {
  .world__text-20 {
    font-size: 1.6rem;
    line-height: 16px;
  }
}
@media (max-width: 743px) {
  .world__text-20 {
    font-size: 1.6rem;
    line-height: 16px;
  }
}
.world__map {
  background-image: url("../images/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 1060px) {
  .world__map {
    margin-top: 64px;
    margin-left: 0px;
    width: 1040px;
  }
}
@media (max-width: 1059px) {
  .world__map {
    margin-top: 66px;
    margin-left: 30px;
    width: 690px;
  }
}
@media (max-width: 743px) {
  .world__map {
    margin-top: 50px;
    margin-left: -10px;
    width: 345px;
  }
}

.wrapper__team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 1060px) {
  .wrapper__team {
    height: 1161px;
  }
}
@media (max-width: 1059px) {
  .wrapper__team {
    height: 1466px;
  }
}
@media (max-width: 743px) {
  .wrapper__team {
    height: 1130px;
  }
}

.team__header {
  display: flex;
}
@media (min-width: 1060px) {
  .team__header {
    flex-direction: row;
    padding-top: 121px;
    gap: 24px;
  }
}
@media (max-width: 1059px) {
  .team__header {
    flex-direction: column;
    padding-top: 120px;
    gap: 0px;
  }
}
@media (max-width: 743px) {
  .team__header {
    flex-direction: column;
    padding-top: 95px;
    gap: 0px;
  }
}
.team__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
@media (min-width: 1060px) {
  .team__title {
    width: 508px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 1059px) {
  .team__title {
    width: 508px;
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 743px) {
  .team__title {
    width: 327px;
    font-size: 3.6rem;
    line-height: 36px;
  }
}
.team__text {
  padding-top: 24px;
  line-height: 22px;
}
@media (min-width: 1060px) {
  .team__text {
    width: 508px;
  }
}
@media (max-width: 1059px) {
  .team__text {
    width: 508px;
  }
}
@media (max-width: 743px) {
  .team__text {
    width: 327px;
  }
}
@media (min-width: 1060px) {
  .team__text-rigth {
    padding-top: 49px;
  }
}
@media (max-width: 1059px) {
  .team__text-rigth {
    padding-top: 0px;
  }
}
@media (max-width: 743px) {
  .team__text-rigth {
    padding-top: 0px;
  }
}
.team__slider {
  display: flex;
  flex-direction: column;
  height: 834px;
  gap: 24px;
}
@media (min-width: 1060px) {
  .team__slider-laptop {
    display: flex;
  }
}
@media (max-width: 1059px) {
  .team__slider-laptop {
    display: none;
  }
}
@media (max-width: 743px) {
  .team__slider-laptop {
    display: none;
  }
}
@media (min-width: 1060px) {
  .team__slider-mobile {
    display: none;
  }
}
@media (max-width: 1059px) {
  .team__slider-mobile {
    display: flex;
  }
}
@media (max-width: 743px) {
  .team__slider-mobile {
    display: flex;
  }
}
.team__slider-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -36px;
  column-gap: 24px;
}
@media (min-width: 1060px) {
  .team__slider-item {
    width: 1040px;
    height: 508px;
  }
}
@media (max-width: 1059px) {
  .team__slider-item {
    width: 696px;
    height: 508px;
  }
}
@media (max-width: 743px) {
  .team__slider-item {
    width: 328px;
    height: 508px;
  }
}
.team__member {
  display: flex;
  justify-content: center;
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 1060px) {
  .team__member {
    width: 242px;
    height: 342px;
  }
}
@media (max-width: 1059px) {
  .team__member {
    width: 336px;
    height: 429px;
  }
}
@media (max-width: 743px) {
  .team__member {
    width: 152px;
    height: 232px;
  }
}
@media (min-width: 1060px) {
  .team__member {
    background-size: auto;
  }
}
@media (max-width: 1059px) {
  .team__member {
    background-size: 284px 284px;
  }
}
@media (max-width: 743px) {
  .team__member {
    background-size: contain;
  }
}
.team__member__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
  color: #E3FD52;
  text-align: center;
}
@media (min-width: 1060px) {
  .team__member__title {
    font-size: 2.4rem;
    line-height: 24px;
    padding-top: 27px;
  }
}
@media (max-width: 1059px) {
  .team__member__title {
    font-size: 3.2rem;
    line-height: 32px;
    padding-top: 27px;
  }
}
@media (max-width: 743px) {
  .team__member__title {
    font-size: 2rem;
    line-height: 20px;
    padding-top: 20px;
  }
}
.team__member:hover {
  background-color: #E3FD52;
}
.team__member:hover p {
  color: #111111;
}

.member-lower {
  margin-top: 64px;
}

.member-lower2 {
  position: relative;
  top: 24px;
}

.member-higher {
  margin-top: -40px;
}

.slider-toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  z-index: 1;
}
@media (min-width: 1060px) {
  .slider-toolbar {
    padding-top: 63px;
  }
}
@media (max-width: 1059px) {
  .slider-toolbar {
    padding-top: 63px;
  }
}
@media (max-width: 743px) {
  .slider-toolbar {
    padding-top: 47px;
  }
}
.slider-toolbar-left {
  width: 36px;
  height: 36px;
  background-image: url("../images/arrow-right.svg");
  transform: scale(-1, 1);
}
.slider-toolbar-left-disabled {
  background-image: url("../images/arrow-left-disabled.svg");
}
.slider-toolbar-left:hover {
  background-image: url("../images/arrow-right-hover.svg");
  transform: scale(-1, 1);
}
.slider-toolbar-right {
  width: 36px;
  height: 36px;
  background-image: url("../images/arrow-right.svg");
}
.slider-toolbar-right-disabled {
  background-image: url("../images/arrow-left-disabled.svg");
  transform: scale(-1, 1);
}
.slider-toolbar-right:hover {
  background-image: url("../images/arrow-right-hover.svg");
}

.member1 {
  background-image: url("../images/sticker1.svg");
}

.member2 {
  background-image: url("../images/sticker2.svg");
}

.member3 {
  background-image: url("../images/sticker3.svg");
}

.member4 {
  background-image: url("../images/sticker4.svg");
}

.member5 {
  background-image: url("../images/sticker5.svg");
}

.member6 {
  background-image: url("../images/sticker6.svg");
}

.member7 {
  background-image: url("../images/sticker7.svg");
}

.member8 {
  background-image: url("../images/sticker8.svg");
}

.member9 {
  background-image: url("../images/sticker9.svg");
}

.member10 {
  background-image: url("../images/sticker10.svg");
}

.member11 {
  background-image: url("../images/sticker11.svg");
}

.member12 {
  background-image: url("../images/sticker12.svg");
}

.member13 {
  background-image: url("../images/sticker13.svg");
}

.member14 {
  background-image: url("../images/sticker14.svg");
}

.member15 {
  background-image: url("../images/sticker15.svg");
}

.member16 {
  background-image: url("../images/sticker16.svg");
}

.member17 {
  background-image: url("../images/sticker17.svg");
}

.wrapper__contact {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
@media (min-width: 1060px) {
  .wrapper__contact {
    flex-direction: row;
    height: 324px;
  }
}
@media (max-width: 1059px) {
  .wrapper__contact {
    flex-direction: column;
    height: 397px;
  }
}
@media (max-width: 743px) {
  .wrapper__contact {
    flex-direction: column;
    height: 411px;
  }
}

.contact {
  padding-top: 160px;
}
@media (min-width: 1060px) {
  .contact {
    padding-top: 160px;
  }
}
@media (max-width: 1059px) {
  .contact {
    padding-top: 160px;
  }
}
@media (max-width: 743px) {
  .contact {
    padding-top: 120px;
  }
}
.contact__title {
  width: 508px;
  font-family: Gilroy-Bold;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
}
.contact__details {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1060px) {
  .contact__details {
    width: 508px;
    padding-top: 13px;
    gap: 36px;
  }
}
@media (max-width: 1059px) {
  .contact__details {
    width: 508px;
    padding-top: 13px;
    gap: 36px;
  }
}
@media (max-width: 743px) {
  .contact__details {
    width: 327px;
    padding-top: 0px;
    column-gap: 66px;
    row-gap: 23px;
  }
}
.contact__text {
  line-height: 22.4px;
  padding-top: 16px;
}
.contact__text a {
  white-space: nowrap;
  color: #000;
}
@media (min-width: 1060px) {
  .contact__text-laptop {
    display: block;
  }
}
@media (max-width: 1059px) {
  .contact__text-laptop {
    display: block;
  }
}
@media (max-width: 743px) {
  .contact__text-laptop {
    display: none;
  }
}
@media (min-width: 1060px) {
  .contact__text-mobile {
    display: none;
  }
}
@media (max-width: 1059px) {
  .contact__text-mobile {
    display: none;
  }
}
@media (max-width: 743px) {
  .contact__text-mobile {
    display: block;
  }
}
.contact__mail {
  font-size: 1.8rem;
}
.contact__text-24 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 33.6px;
}

.wrapper__map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1060px) {
  .wrapper__map {
    height: 752px;
  }
}
@media (max-width: 1059px) {
  .wrapper__map {
    height: 752px;
  }
}
@media (max-width: 743px) {
  .wrapper__map {
    height: 550px;
  }
}

.map {
  background-color: #E3FD52;
}
.map__googlemap {
  background-color: #111111;
  background-image: url("../images/map.svg");
  background-position: center;
}
@media (min-width: 1060px) {
  .map__googlemap {
    width: 1040px;
    height: 480px;
    margin-top: -120px;
  }
}
@media (max-width: 1059px) {
  .map__googlemap {
    width: 696px;
    height: 480px;
    margin-top: -120px;
  }
}
@media (max-width: 743px) {
  .map__googlemap {
    width: 327px;
    height: 327px;
    margin-top: -95px;
  }
}
.map__title {
  font-family: Gilroy-Bold;
  font-weight: 700;
}
@media (min-width: 1060px) {
  .map__title {
    padding-top: 95px;
    font-size: 4.8rem;
    line-height: 48px;
    width: 100%;
  }
}
@media (max-width: 1059px) {
  .map__title {
    padding-top: 95px;
    font-size: 4.8rem;
    line-height: 48px;
    width: 100%;
  }
}
@media (max-width: 743px) {
  .map__title {
    padding-top: 47px;
    font-size: 3.6rem;
    line-height: 36px;
    width: 210px;
  }
}
.map__title p {
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 1060px) {
  .map__title-laptop {
    display: block;
  }
}
@media (max-width: 1059px) {
  .map__title-laptop {
    display: block;
  }
}
@media (max-width: 743px) {
  .map__title-laptop {
    display: none;
  }
}
@media (min-width: 1060px) {
  .map__title-mobile {
    display: none;
  }
}
@media (max-width: 1059px) {
  .map__title-mobile {
    display: none;
  }
}
@media (max-width: 743px) {
  .map__title-mobile {
    display: block;
  }
}
.map__text {
  padding-top: 24px;
  padding-bottom: 37px;
  line-height: 22px;
  text-align: center;
}
@media (min-width: 1060px) {
  .map__text-laptop {
    display: block;
  }
}
@media (max-width: 1059px) {
  .map__text-laptop {
    display: block;
  }
}
@media (max-width: 743px) {
  .map__text-laptop {
    display: none;
  }
}
@media (min-width: 1060px) {
  .map__text-mobile {
    display: none;
  }
}
@media (max-width: 1059px) {
  .map__text-mobile {
    display: none;
  }
}
@media (max-width: 743px) {
  .map__text-mobile {
    display: block;
  }
}

.button__map {
  width: 149px;
  color: #FFFFFF;
  background: #111111;
}

.button__map:hover {
  background: #E3FD52;
  color: #111111;
  border: 1px solid #111111;
}

.footer {
  display: flex;
  height: 97px;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  line-height: 180%;
}
.footer a {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
